body {
  min-height: 100vh;
  background-image: url("images/pagebkg-christian-wiediger.jpg");
  background-size: contain;
  display: grid;
  grid: 1fr 1fr 5fr 2fr 1fr / repeat(10, 1fr);
  color: rgb(237, 214, 38);
}

.title {
  grid-area: 2/5/3/7;
}

.aboutme {
  grid-area: 2/2/3/3;
}

.instructions {
  grid-area: 2/9/3/10;
}

.gameboard {
  grid-area: 3/2/4/10;
  background-image: url("images/galaxy.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.playership {
  justify-items: center;
}
.play {
  grid-area: 3/5/4/7;
}

.playerstats {
  background-color: black;
}

.enemystats {
  background-color: black;
}

.gameflow {
  background-color: black;
  grid-area: 4/2/5/10;
}
