body {
  min-height: 100vh;
  background-image: url("images/pagebkg-christian-wiediger.jpg");
  background-size: contain;
  display: grid;
  grid: 1fr 1fr 5fr 1fr 2fr 1fr / repeat(10, 1fr);
  color: rgb(237, 214, 38);
}

.title {
  grid-area: 2/5/3/7;
}

.aboutme {
  grid-area: 2/2/3/3;
}

.instructions {
  grid-area: 2/9/3/10;
}

.gameboard {
  grid-area: 3/2/5/10;
  background-image: url("images/galaxy.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameplay {
  background-color: black;
  max-width: 50%;
  max-height: 50%;
  text-align: center;
  display: none;
}

.playership {
  position: absolute;
  top: 30%;
  left: 0;
}

.enemyship {
  position: absolute;
  top: 30%;
  right: 0;
}

.playerstats {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: black;
  color: white;
}

.alienstats {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: black;
  color: white;
}

.battle {
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 40%;
}

.retreat {
  background-color: red;
  position: absolute;
  bottom: 0;
  right: 40%;
}

.gameflow {
  background-color: black;
  color: white;
  grid-area: 5/2/6/10;
  max-height: 144px;
  overflow: auto;
}
